<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <servlet>
    <servlet-name>GetStoreServlet</servlet-name>
    <servlet-class>hillel.jee.servlets.GetStoreServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetStoreServlet</servlet-name>
    <url-pattern>/store.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetListOfWorksServlet</servlet-name>
    <servlet-class>hillel.jee.servlets.GetListOfWorksServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetListOfWorksServlet</servlet-name>
    <url-pattern>/list/*</url-pattern>
  </servlet-mapping>

</web-app>
